<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul Lite | graphic designer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="Css/embla.css">
    <link rel="stylesheet" href="Css/styles.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script src="https://kit.fontawesome.com/907d5275a6.js" crossorigin="anonymous"></script>
   


</head>

<body>
    <nav class="navigation">
        <div class="wrapper">
            <div>
                <a href="/">
                    <img class="logo" src="../images/main-logo.png" alt="logo">
                </a>
            </div>
            <ul class="nav_links">
                <li class="nav_link active header"><a href="#header">Home</a></li>
                <li class="nav_link about-me"><a href="/#about-me">About</a></li>
                <li class="nav_link portfolio"><a href="/#portfolio">Portfolio</a></li>
                <li class="nav_link resume"><a href="/resume">Resume</a></li>
                <li class="nav_link contact"><a href="/#contact">Contact</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>

    </nav>