<%- include("partials/header") %>
<section id="header">
    <div class="wrapper">
        <div class="header-main">
            <div class="bio">
                <h2>Design at its finest!</h2>
                <h1 class="name">Creative Lite Studios</h1>
                <p>We make it easy to work with professional, creative experts from around the world and build your
                    brand through custom, memorable design. </p>
                <div class="btn-container">
                    <a href="/resume" class="btn primary" role="button">resume
                    </a>
                    <a href="#portfolio" class="btn work" role="button">portfolio
                    </a>
                </div>
            </div>
            <div class="embla sample-work autoplay__embla">
                <div class="embla__viewport autoplay">
                    <div class="embla__container">
                        <div class="embla__slide autoplay__slide">
                            <div class="embla__slide__inner">
                                <img class="embla__slide__img" src="/images/mokups/1.jpg" />
                            </div>
                        </div>
                        <div class="embla__slide">
                            <div class="embla__slide__inner">
                                <img class="embla__slide__img" src="/images/mokups/2.jpg" />
                            </div>
                        </div>
                        <div class="embla__slide">
                            <div class="embla__slide__inner">
                                <img class="embla__slide__img" src="/images/mokups/5.jpg" />
                            </div>
                        </div>
                        <div class="embla__slide">
                            <div class="embla__slide__inner">
                                <img class="embla__slide__img" src="/images/mokups/7.jpg" />
                            </div>
                        </div>
                        <div class="embla__slide">
                            <div class="embla__slide__inner">
                                <img class="embla__slide__img" src="/images/mokups/coffee.jpg" />
                            </div>
                        </div>
                        <div class="embla__slide">
                            <div class="embla__slide__inner">
                                <img class="embla__slide__img" src="/images/mokups/16.jpg" />
                            </div>
                        </div>
                        <div class="embla__slide">
                            <div class="embla__slide__inner">
                                <img class="embla__slide__img" src="/images/mokups/4.png" />
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Dots -->
                <div class="embla__dots"></div>

                <!-- Buttons -->
                <!-- <button class="embla__button embla__button--prev" type="button">
                    <svg class="embla__button__svg" viewBox="137.718 -1.001 366.563 643.999">
                        <path
                            d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z">
                        </path>
                    </svg>
                </button>
                <button class="embla__button embla__button--next" type="button">
                    <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                        <path
                            d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z">
                        </path>
                    </svg>
                </button> -->
            </div>
        </div>
        

    </div>

</section>
<section id="about-me">
    <div class="wrapper">
        <div class="heading-wrapper">
            <h1 class="heading">About me</h1>
            <div class="primary-rule"></div>
            <div class="secondary-rule"></div>
        </div>
        <div class="about-container">
            <div class="about-img">
                <div class="banner">
                </div>
                <div class="banner-text">
                    <h2>At Creative Lite Studios, we offer you the best!</h2>
                </div>
                <!-- <img src="../images/about-image.jpeg" alt="about-img"> -->
            </div>
            <div class="about-content">
                <h1>Get to Know me</h1>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti
                    atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                    similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et
                    harum
                    quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
                    optio
                    cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
                    omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necess</p>
                <a href="/resume" class="btn primary about-btn" role="button">resume
                </a>
            </div>
            <div class="pattern-center"></div>
        </div>

        <!-- <div class="pattern-bottom"></div>
    <div class="pattern-top"></div> -->

    </div>

</section>
<section id="services-offered">
    <div class="wrapper">
        <div class="skills-cards">
            <div class="heading-container">
                <h1>Our Services</h1>
                <div class="primary-rule"></div>
                <div class="secondary-rule"></div>
            </div>

            <div class="skills-cards-inner">
                <div class="card">
                    <div class="head-section">
                        <img src="../images/ui.png" alt="ui-design">
                        <h2>Graphic Design</h2>
                    </div>
                    <div class="more">
                        <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
                            amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor
                        </p>
                        <a href="#portfolio" class="btn work service-btn" role="button">Learn more
                        </a>
                    </div>

                </div>
                <div class="card">
                    <div class="head-section">
                        <img src="../images/ui.png" alt="ui-design">
                        <h2>Graphic Design</h2>
                    </div>
                    <div class="more">
                        <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
                            amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor
                        </p>
                        <a href="#portfolio" class="btn work service-btn" role="button">Learn more
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="head-section">
                        <img src="../images/ui.png" alt="ui-design">
                        <h2>Graphic Design</h2>
                    </div>
                    <div class="more">
                        <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
                            amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor
                        </p>
                        <a href="#portfolio" class="btn work service-btn" role="button">Learn more
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="head-section">
                        <img src="../images/ui.png" alt="ui-design">
                        <h2>Graphic Design</h2>
                    </div>
                    <div class="more">
                        <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
                            amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor
                        </p>
                        <a href="#portfolio" class="btn work service-btn" role="button">Learn more
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="head-section">
                        <img src="../images/ui.png" alt="ui-design">
                        <h2>Graphic Design</h2>
                    </div>
                    <div class="more">
                        <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
                            amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor
                        </p>
                        <a href="#portfolio" class="btn work service-btn" role="button">Learn more
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="head-section">
                        <img src="../images/ui.png" alt="ui-design">
                        <h2>Graphic Design</h2>
                    </div>
                    <div class="more">
                        <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
                            amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor
                        </p>
                        <a href="#portfolio" class="btn work service-btn" role="button">Learn more
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<section id="skills">
    <div class="wrapper">
        <div class="skills-container">
            <div class="skills-progress-bars">
                <h1>What my design skills are.</h1>
                <p>cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
                </p>
                <div class="progress-container">
                    <div class="skill">
                        <h4>Adobe Photoshop</h4><span class="skill-level">95%</span>
                        <div class="progress-bar-container">
                            <div class="progress-bar" style="width: 95%;"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <h4>Illustrator</h4><span class="skill-level">90%</span>
                        <div class="progress-bar-container">
                            <div class="progress-bar" style="width: 90%;"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <h4>InDesign</h4><span class="skill-level">92%</span>
                        <div class="progress-bar-container">
                            <div class="progress-bar" style="width: 92%;"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <h4>After Effects</h4><span class="skill-level">95%</span>
                        <div class="progress-bar-container">
                            <div class="progress-bar" style="width: 95%;"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <h4>Premier Pro</h4><span class="skill-level">95%</span>
                        <div class="progress-bar-container">
                            <div class="progress-bar" style="width: 95%;"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <h4>Adobe XD Max</h4><span class="skill-level">95%</span>
                        <div class="progress-bar-container">
                            <div class="progress-bar" style="width: 95%;"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <h4>Adobe Character Admin</h4><span class="skill-level">95%</span>
                        <div class="progress-bar-container">
                            <div class="progress-bar" style="width: 95%;"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="skills-img-right">
                <div class="skills-why-choose-me">
                    <h2>Why Choose Creative Lite</h2>
                    <p>Creative Lite Studios is the most trusted source for graphic designs online. We invented design contests and have been growing and improving our platform ever since. We offer:</p>
                    <div class="skills-why-choose-me-wrapper">
                        <div>
                            <i class="far fa-check-circle"></i>
                            <p>Professional designers that are hand-vetted for quality</p> 
                          </div>
                          <div class="padding-top-bottom">
                              <i class="far fa-check-circle"></i>
                              <p>Professional designers that are hand-vetted for quality</p> 
                          </div>
                          <div class="padding-top-bottom">
                              <i class="far fa-check-circle"></i>
                              <p>Professional designers that are hand-vetted for quality</p> 
                          </div>
                          <div>
                              <i class="far fa-check-circle"></i>
                              <p>Professional designers that are hand-vetted for quality</p> 
                          </div>

                    </div>
                    
                </div>
                <!-- <div class="project-count">
                    <h1>250+ <br> Projects!</h1>
                </div> -->

            </div>


        </div>
        <!-- <div class="why-choose-me-wrapper">
            <h2>Why Choose me</h2>
            <div class="why-choose-me">
                <div class="quality">
                    <i class="fab fa-algolia"></i>
                    <div>
                        <h3>Top Quality</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    
                </div>
                <div class="quality">
                    <i class="fab fa-algolia"></i>
                    <div>
                        <h3>Top Quality</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="quality">
                    <i class="fab fa-algolia"></i>
                    <div>
                        <h3>Top Quality</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="quality">
                    <i class="fab fa-algolia"></i>
                    <div>
                        <h3>Top Quality</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>

        </div> -->
        
    </div>
</section>

<section id="portfolio">
    <div class="wrapper">
        <div class="heading-container">
            <h1 class="heading">Portfolio</h1>
            <p>Unmatched services, unmatched excellence</p>
            <div class="primary-rule"></div>
            <div class="secondary-rule"></div>
        </div>
        <div class="portfolio-container">
            <div class="service posters">
                <div class="overlay"></div>
                <div class="overlay2"></div>
                <div class="service-info">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <h2>Image overlay display text</h2>
                    <p>cumque nihil id quod maxime placeat facere possimus, omnis </p>
                </div>
            </div>
            <div class="service flyers">
                <div class="overlay"></div>
                <div class="overlay2"></div>
                <div class="service-info">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <h2>Image overlay display text</h2>
                    <p>cumque nihil id quod maxime placeat facere possimus, omnis </p>
                </div>
            </div>
            <div class="service wedding">
                <div class="overlay"></div>
                <div class="overlay2"></div>
                <div class="service-info">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <h2>Image overlay display text</h2>
                    <p>cumque nihil id quod maxime placeat facere possimus, omnis </p>
                </div>
            </div>
            <div class="service book-cover">
                <div class="overlay"></div>
                <div class="overlay2"></div>
                <div class="service-info">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <h2>Image overlay display text</h2>
                    <p>cumque nihil id quod maxime placeat facere possimus, omnis </p>
                </div>
            </div>
            <div class="service animation">
                <div class="overlay"></div>
                <div class="overlay2"></div>
                <div class="service-info">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <h2>Image overlay display text</h2>
                    <p>cumque nihil id quod maxime placeat facere possimus, omnis </p>
                </div>
            </div>
            <div class="service corperate-design">
                <div class="overlay"></div>
                <div class="overlay2"></div>
                <div class="service-info">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <h2>Image overlay display text</h2>
                    <p>cumque nihil id quod maxime placeat facere possimus, omnis </p>
                </div>
            </div>
        </div>


    </div>
</section>
<section id="testimonials">
    <div class="wrapper">
        <div class="testimonial-header">
            <h1>What our clients say about us!</h1>
            <div class="primary-rule"></div>
            <div class="secondary-rule"></div>
        </div>
        <div class="embla swiper-container">
            <div class="embla__viewport simple_embla_viewport">
                <div class="embla__container">
                    <div class="embla__slide swiper-slide ">
                        <div class="embla__slide__inner">
                            <i class="left-quote fas fa-quote-left fa-2x"></i>
                            <div class="profile">
                                <img src="../images/avatar.jpeg" alt="review-img" />
                                <h5>Mark Rise</h5>
                                <p>CEO Founder</p>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
                                amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor
                                sit amet. Lorem ipsum dolor sit amet, consectetur Lorem ipsum
                            </p>

                        </div>

                    </div>
                    <div class="embla__slide swiper-slide ">
                        <div class="embla__slide__inner">
                            <i class="left-quote fas fa-quote-left fa-2x"></i>
                            <div class="profile">
                                <img src="../images/avatar.jpeg" alt="review-img" />
                                <h5>Mark Rise</h5>
                                <p>CEO Founder</p>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
                                amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor
                                sit amet. Lorem ipsum dolor sit amet, consectetur Lorem ipsum
                            </p>


                        </div>

                    </div>
                    <div class="embla__slide swiper-slide ">
                        <div class="embla__slide__inner">
                            <i class="left-quote fas fa-quote-left fa-2x"></i>
                            <div class="profile">
                                <img src="../images/avatar.jpeg" alt="review-img" />
                                <h5>Mark Rise</h5>
                                <p>CEO Founder</p>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
                                amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor
                                sit amet. Lorem ipsum dolor sit amet, consectetur Lorem ipsum
                            </p>
                        </div>

                    </div>
                    <div class="embla__slide swiper-slide ">
                        <div class="embla__slide__inner">
                            <i class="left-quote fas fa-quote-left fa-2x"></i>
                            <div class="profile">
                                <img src="../images/avatar.jpeg" alt="review-img" />
                                <h5>Mark Rise</h5>
                                <p>CEO Founder</p>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
                                amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor
                                sit amet. Lorem ipsum dolor sit amet, consectetur Lorem ipsum
                            </p>

                        </div>

                    </div>
                    <div class="embla__slide swiper-slide ">
                        <div class="embla__slide__inner">
                            <i class="left-quote fas fa-quote-left fa-2x"></i>
                            <div class="profile">
                                <img src="../images/avatar.jpeg" alt="review-img" />
                                <h5>Mark Rise</h5>
                                <p>CEO Founder</p>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
                                amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor
                                sit amet. Lorem ipsum dolor sit amet, consectetur Lorem ipsum
                            </p>
                        </div>

                    </div>
                </div>

            </div>
            <button class="embla__button embla__button--prev" type="button">
                <svg class="embla__button__svg" viewBox="137.718 -1.001 366.563 643.999">
                    <path
                        d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z">
                    </path>
                </svg>
            </button>
            <button class="embla__button embla__button--next" type="button">
                <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                    <path
                        d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z">
                    </path>
                </svg>
            </button>

        </div>

</section>

<section id="brands">
    <div class="wrapper">
        <div class="brands-header">
            <h1>Brands that trust us.</h1>
            <p>elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,</p>
        </div>
        <div class="brands-inner">
            <img class="press-logo" src="../images/TechCrunch.png" alt="tc-logo">
            <img class="press-logo" src="../images/tnw.png" alt="tnw-logo">
            <img class="press-logo" src="../images/bizinsider.png" alt="biz-insider-logo">
            <img class="press-logo" src="../images/mashable.png" alt="mashable-logo">
            <img class="press-logo" src="../images/TechCrunch.png" alt="tc-logo">
            <img class="press-logo" src="../images/tnw.png" alt="tnw-logo">
            <img class="press-logo" src="../images/bizinsider.png" alt="biz-insider-logo">
            <img class="press-logo" src="../images/mashable.png" alt="mashable-logo">
        </div>

        <div class="call-to-action">
            <h2>Are you interested in what you see? Let us get to work and build your brand together!</h2>
            <button class="cta-btn btn about-btn">
                Let's talk <i class="fas fa-long-arrow-alt-right"></i>
            </button>
        </div>
    </div>
    

</section>

<section id="contact">
    <div class="wrapper">
        <div class="contact-container">
            <div class="contact-main">
                <div class="address">
                    <div>
                        <h4>Email</h4>
                        <a href="#">paullite@gmail.com</a>
                    </div>
                    <div>
                        <h4>Phone</h4>
                        <p>+456782791819</p>
                    </div>
                    <div>
                        <h4>ADDRESS</h4>
                        <P>83 Fort street Belington Mourough <br>
                            0018000-207-4421, United Kingdom.
                        </P>
                    </div>
                </div>
                <div class="social">
                    <ul>
                        <li><i class="fab fa-linkedin-in"></i><a href="#">Linkedin</a></li>
                        <li><i class="fas fa-basketball-ball"></i><a href="#">Dribble</a></li>
                        <li><i class="fab fa-whatsapp-square"></i><a href="#">whats app</a></li>
                        <li><i class="fab fa-instagram"></i><a href="#">instagram</a></li>
                        <li><i class="fab fa-facebook-square"></i><a href="#">facebook</a></li>
                        <li><i class="fab fa-linkedin-in"></i><a href="#">linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <footer>
            <div class="copyright">
                <p class="copyright">© Copyright <span class="year"></span>|<a href="/">Creative Lite Studios</a>|
                    Privacy
                </p>
                <p class="designed-by"><i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by O.J. Tabi</p>

            </div>
        </footer>

    </div>

</section>



<%- include('partials/footer') %>