<%- include("partials/header") %>
<section id="header">
    <div class="wrapper">
        <div class="header-main">
            <div class="bio">
                <h2>Make your mark with a logo!</h2>
                <h1 class="name">Custom logo design</h1>
                <p>We make it easy to work with professional, creative experts from around the world and build your
                    brand through custom, memorable design. </p>
                <div class="btn-container">
                    <a href="/resume" class="btn work" role="button">Get a logo</a>
                </div>
            </div>
            <div class="logo-header-grid">
                <div><img src = "/images/bookworld.png" alt="logo"></div>
                <div><img src = "/images/logo1.jpg" alt="logo"></div>
                <div><img src = "/images/logo2.jpeg" alt="logo"></div>
                <div><img src = "/images/SIMBS Logo.png" alt="logo"></div>
            </div>
            
        </div>


    </div>

</section>

<%- include('partials/footer') %>