<%- include("partials/header") %>
<section id="resume">
  <div class="resume-grid">
    <div class="left-content">
      <div class="image">
        <div class="resume-avatar-container">
          <img src="../images/demo.jpeg" alt="demo-img">
          <div class="right-content-header">
            <h1>Paul <br> Achidi Abel</h1>
            <h3>Graphic Designer and Data Analyst</h3>
          </div>
        </div>

        <div class="profile-card">
          <h2 class="profile-card-title">Something awesome</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <a href="#portfolio" class="btn work profile-card-btn" role="button">view portfolio
          </a>
        </div>

      </div>
      <div class="left-content-inner">
        <div class="left-content-container">
          <h2 class="about-designer">About Me</h2>
          <div class="line-container">
            <div class="line-inner"></div>
          </div>
          <p class="about-designer-content">
            Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
            amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor
            Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
            amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor
          </p>

        </div>
        <div class="left-content-container">
          <h2 class="about-designer">Contact</h2>
          <div class="line-container">
            <div class="line-inner"></div>
          </div>
          <p><i class="fas fa-map-marker-alt"></i><span>Molyko, Buea, Cameroon</span></p>
          <p> <i class="fas fa-phone"></i><span>+237678446871</span></p>
          <i class="fas fa-envelope"></i><a href="paullite@gmail.com">paullite@gmail.com</a>

        </div>
        <div class="left-content-container">
          <h2 class="about-designer">Social Media</h2>
          <div class="line-container">
            <div class="line-inner"></div>
          </div>
          <div class="social">
            <ul>
              <li><i class="fab fa-linkedin-in"></i><a href="#">Linkedin</a></li>
              <li><i class="fas fa-basketball-ball"></i><a href="#">Dribble</a></li>
              <li><i class="fab fa-whatsapp-square"></i><a href="#">whats app</a></li>
              <li><i class="fab fa-instagram"></i><a href="#">instagram</a></li>
              <li><i class="fab fa-facebook-square"></i><a href="#">facebook</a></li>
              <li><i class="fab fa-linkedin-in"></i><a href="#">linkedin</a></li>
            </ul>
          </div>
        </div>
        <div class="left-content-container">
          <h2 class="about-designer">Language</h2>
          <div class="line-container">
            <div class="line-inner"></div>
          </div>
          <div class="progress-container pro-container language-skills">
            <div class="skill">
              <h4 class="language">English</h4><span class="skill-level">95%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 95%;"></div>
              </div>
            </div>
            <div class="skill">
              <h4 class="language">French</h4><span class="skill-level">90%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 90%;"></div>
              </div>
            </div>
            <div class="skill">
              <h4 class="language">German</h4><span class="skill-level">92%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 92%;"></div>
              </div>
            </div>
          </div>

        </div>
        <div class="left-content-container">
          <h2 class="about-designer">Reference</h2>
          <div class="line-container">
            <div class="line-inner"></div>
          </div>
          <h3>MD JOHN DOE</h3>
          <p> <i class="fas fa-phone"></i><span>+237678446871</span></p>
          <i class="fas fa-envelope"></i><a href="#">paullite@gmail.com</a>
        </div>
      </div>
    </div>

    <div class="right-content">
      <div class="right-content-header">
        <h1>Paul <br> Achidi Abel</h1>
        <h3>Graphic Designer and Data Analyst</h3>
      </div>
      <div class="right-content-container">
        <h2 class="about-designer">Work Experience</h2>
        <div class="line-container">
          <div class="line-inner"></div>
        </div>
        <div class="inner-content">
          <div>
            <h4>Lorem Company Buea</h4>
            <p>2016-2018</p>
          </div>
          <div>
            <h4>Senior Graphic Designer</h4>
            <p>amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor</p>
          </div>
          <div>
            <h4>Lorem Company Buea</h4>
            <p>2016-2018</p>
          </div>
          <div>
            <h4>Senior Graphic Designer</h4>
            <p>amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor</p>
          </div>
          <div>
            <h4>Lorem Company Buea</h4>
            <p>2016-2018</p>
          </div>
          <div>
            <h4>Senior Graphic Designer</h4>
            <p>amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor</p>
          </div>
        </div>
      </div>
      <div class="right-content-container">
        <h2 class="about-designer">Education</h2>
        <div class="line-container">
          <div class="line-inner"></div>
        </div>
        <div class="inner-content">
          <div>
            <h4>Lorem Company Buea</h4>
            <p>2016-2018</p>
          </div>
          <div>
            <h4>Senior Graphic Designer</h4>
            <p>amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor</p>
          </div>
          <div>
            <h4>Lorem Company Buea</h4>
            <p>2016-2018</p>
          </div>
          <div>
            <h4>Senior Graphic Designer</h4>
            <p>amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor</p>
          </div>
          <div>
            <h4>Lorem Company Buea</h4>
            <p>2016-2018</p>
          </div>
          <div>
            <h4>Senior Graphic Designer</h4>
            <p>amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor</p>
          </div>
        </div>
      </div>
      <div class="right-content-container">
        <h2 class="about-designer">Pro Skills and Language Skills</h2>
        <div class="line-container">
          <div class="line-inner"></div>
        </div>
        <div class="pro-skills-container">
          <div class="progress-container pro-container">
            <h2>Graphic Design</h2>
            <div class="skill">
              <h4>Adobe Photoshop</h4><span class="skill-level">95%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 95%;"></div>
              </div>
            </div>
            <div class="skill">
              <h4>Illustrator</h4><span class="skill-level">90%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 90%;"></div>
              </div>
            </div>
            <div class="skill">
              <h4>InDesign</h4><span class="skill-level">92%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 92%;"></div>
              </div>
            </div>
            <div class="skill">
              <h4>After Effects</h4><span class="skill-level">95%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 95%;"></div>
              </div>
            </div>
            <div class="skill">
              <h4>Premier Pro</h4><span class="skill-level">95%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 95%;"></div>
              </div>
            </div>
            <div class="skill">
              <h4>Adobe XD Max</h4><span class="skill-level">95%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 95%;"></div>
              </div>
            </div>
            <div class="skill">
              <h4>Adobe Character Admin</h4><span class="skill-level">95%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 95%;"></div>
              </div>
            </div>
          </div>
          <div class="progress-container pro-container">
            <h2>Data Analysis</h2>
            <div class="skill">
              <h4>Adobe Photoshop</h4><span class="skill-level">95%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 95%;"></div>
              </div>
            </div>
            <div class="skill">
              <h4>Illustrator</h4><span class="skill-level">90%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 90%;"></div>
              </div>
            </div>
            <div class="skill">
              <h4>InDesign</h4><span class="skill-level">92%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 92%;"></div>
              </div>
            </div>
            <div class="skill">
              <h4>After Effects</h4><span class="skill-level">95%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 95%;"></div>
              </div>
            </div>
            <div class="skill">
              <h4>Premier Pro</h4><span class="skill-level">95%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 95%;"></div>
              </div>
            </div>
            <div class="skill">
              <h4>Adobe XD Max</h4><span class="skill-level">95%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 95%;"></div>
              </div>
            </div>
            <div class="skill">
              <h4>Adobe Character Admin</h4><span class="skill-level">95%</span>
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: 95%;"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="right-content-container">
        <h2 class="about-designer">Hobbies</h2>
        <div class="line-container">
          <div class="line-inner"></div>
        </div>
        <div class="hobbies-container">
          <h3 class="hobbies">Art</h3>
          <h3 class="hobbies">Travelling</h3>
          <h3 class="hobbies">Photography</h3>
          <h3 class="hobbies">Reading</h3>
          <h3 class="hobbies">Sports</h3>
          <h3 class="hobbies">Movies</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <footer class="resume-footer">
    <div class="copyright">
      <p class="copyright">© Copyright <span class="year"></span>|<a href="/">Creative Lite Studios</a>| Privacy
      </p>
      <p class="designed-by"><i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by O.J. Tabi</p>

    </div>
  </footer>
</section>




<%- include('partials/footer') %>