<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paul Lite | graphic designer</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Raleway:ital,wght@0,400;0,500;0,600;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="Css/embla.css">
  <link rel="stylesheet" href="Css/styles.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <script src="https://kit.fontawesome.com/907d5275a6.js" crossorigin="anonymous"></script>



</head>

<body>
  <nav class="navigation">
    <div class="wrapper resume-wrapper">
      <div class="logo-container">
        <a href="/">
          <img class="logo" src="../images/main-logo.png" alt="logo">
        </a>
      </div>
      <ul class="nav_links">
        <li class="nav_link active header"><a href="/">Home</a></li>
        <li class="nav_link about-me"><a href="/#about-me">About</a></li>
        <li class="nav_link portfolio"><a href="/#portfolio">Portfolio</a></li>
        <li class="nav_link resume"><a href="/resume">Resume</a></li>
        <li class="nav_link contact"><a href="/#contact">Contact</a></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>

  </nav>
  <section id="resume">
    <div class="resume-wrapper">
      <button class="btn primary go-back">Go back</button>
      <div class="resume-grid">
        <div class="resume-bio">
          <div class="image">
            <div class="resume-avatar-container">
              <img src="../images/demo.jpeg" alt="demo-img">
              <div class="right-content-header">
                <h1>Paul <br> Achidi Abel</h1>
                <h3>Graphic Designer and Data Analyst</h3>
              </div>
            </div>

            <div class="profile-card">
              <h2 class="profile-card-title">Something awesome</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <a href="/#portfolio" class="btn work profile-card-btn" role="button">view portfolio
              </a>
            </div>

          </div>
          <div class="resume-bio-inner">
            <div class="left-content-container">
              <h2 class="about-heading">About Me</h2>
              <p class="about-designer-content">
                Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
                amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor
                Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
                amet, consectetur adipiscing adipiscing elit. Lorem ipsum dolor
              </p>

            </div>
            <div class="contacts">
              <h2 class="about-heading">Contact</h2>
              <p><i class="fas fa-map-marker-alt"></i><span>Molyko, Buea, Cameroon</span></p>
              <p><i class="fas fa-phone"></i><span>+237678446871</span></p>
              <p><i class="fas fa-envelope"></i><a href="paullite@gmail.com">paullite@gmail.com</a></p>
            </div>

            <div class="progress-container pro-container design-skills">
              <h2 class="about-heading">Design Skills </h2>
              <div class="skill">
                <h4>Adobe Photoshop</h4><span class="skill-level">95%</span>
                <div class="progress-bar-container">
                  <div class="progress-bar" style="width: 95%;"></div>
                </div>
              </div>
              <div class="skill">
                <h4>Illustrator</h4><span class="skill-level">90%</span>
                <div class="progress-bar-container">
                  <div class="progress-bar" style="width: 90%;"></div>
                </div>
              </div>
              <div class="skill">
                <h4>InDesign</h4><span class="skill-level">92%</span>
                <div class="progress-bar-container">
                  <div class="progress-bar" style="width: 92%;"></div>
                </div>
              </div>
              <div class="skill">
                <h4>After Effects</h4><span class="skill-level">95%</span>
                <div class="progress-bar-container">
                  <div class="progress-bar" style="width: 95%;"></div>
                </div>
              </div>
              <div class="skill">
                <h4>Premier Pro</h4><span class="skill-level">95%</span>
                <div class="progress-bar-container">
                  <div class="progress-bar" style="width: 95%;"></div>
                </div>
              </div>
              <div class="skill">
                <h4>Adobe XD Max</h4><span class="skill-level">95%</span>
                <div class="progress-bar-container">
                  <div class="progress-bar" style="width: 95%;"></div>
                </div>
              </div>
              <div class="skill">
                <h4>Adobe Character Admin</h4><span class="skill-level">95%</span>
                <div class="progress-bar-container">
                  <div class="progress-bar" style="width: 95%;"></div>
                </div>
              </div>
            </div>
            <div class="languages">
              <h2 class="about-heading">Languages</h2>
              <div class="progress-container pro-container language-skills">
                <div class="skill">
                  <h4 class="language">English</h4><span class="skill-level">95%</span>
                  <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 95%;"></div>
                  </div>
                </div>
                <div class="skill">
                  <h4 class="language">French</h4><span class="skill-level">90%</span>
                  <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 90%;"></div>
                  </div>
                </div>
                <div class="skill">
                  <h4 class="language">German</h4><span class="skill-level">92%</span>
                  <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 92%;"></div>
                  </div>
                </div>
              </div>

            </div>
            <div class="references">
              <h2 class="about-heading">Reference</h2>
              <p class="reference">MD JOHN DOE</p>
              <p> <i class="fas fa-phone"></i><span>+237678446871</span></p>
              <p><i class="fas fa-envelope"></i><a href="#">paullite@gmail.com</a></p>
            </div>
          </div>
        </div>
        <div class="eduandwork">
          <div class="work-experience">
            <h2 class="right-heading"><i class="fas fa-briefcase"></i>Work Experience</h2>
            <div class="inner-content">
              <div>
                <h4>Senior Graphic Designer / Lorem Company Buea</h4>
                <h5 class="time-frame"><i class="fas fa-calendar-alt"></i>2016-2018</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique corporis rerum hic, reiciendis
                  deserunt aliquid commodi temporibus delectus illum. Eveniet expedita ipsa magni quisquam quidem
                  perferendis officiis tempore nisi dolorem.</p>
                <hr>
              </div>
              <div>
                <h4>Senior Graphic Designer / Lorem Company Buea</h4>
                <h5 class="time-frame"><i class="fas fa-calendar-alt"></i>2016-2018</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique corporis rerum hic, reiciendis
                  deserunt aliquid commodi temporibus delectus illum. Eveniet expedita ipsa magni quisquam quidem
                  perferendis officiis tempore nisi dolorem.</p>
                <hr>
              </div>
              <div>
                <h4>Senior Graphic Designer / Lorem Company Buea</h4>
                <h5 class="time-frame"><i class="fas fa-calendar-alt"></i>2016-2018</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique corporis rerum hic, reiciendis
                  deserunt aliquid commodi temporibus delectus illum. Eveniet expedita ipsa magni quisquam quidem
                  perferendis officiis tempore nisi dolorem.
                </p>
                <hr>
              </div>
              <div>
                <h4>Senior Graphic Designer / Lorem Company Buea</h4>
                <h5 class="time-frame"><i class="fas fa-calendar-alt"></i>2016-2018</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique corporis rerum hic, reiciendis
                  deserunt aliquid commodi temporibus delectus illum. Eveniet expedita ipsa magni quisquam quidem
                  perferendis officiis tempore nisi dolorem.
                </p>
              </div>
            </div>
          </div>
          <div class="education">
            <h2 class="right-heading"><i class="fas fa-school"></i>Education</h2>
            <div class="inner-content">
              <div>
                <h4>Senior Graphic Designer / Lorem Company Buea</h4>
                <h5 class="time-frame"><i class="fas fa-calendar-alt"></i>2016-2018</h5>
                <p>Masters in Microbiology</p>
                <hr>
              </div>
              <div>
                <h4>Senior Graphic Designer / Lorem Company Buea</h4>
                <h5 class="time-frame"><i class="fas fa-calendar-alt"></i>2016-2018</h5>
                <p>Masters in Microbiology</p>
                <hr>
              </div>
              <div>
                <h4>Senior Graphic Designer / Lorem Company Buea</h4>
                <h5 class="time-frame"><i class="fas fa-calendar-alt"></i>2016-2018</h5>
                <p>Masters in Microbiology</p>
                <hr>
              </div>
            </div>

            <div class="hobbies-container">
              <h2 class="right-heading">Hobbies</h2>
              <div class="hobbies-container-inner">
                <h3>Art</h3>
                <h3>Travelling</h3>
                <h3>Photography</h3>
                <h3>Reading</h3>
                <h3>Sports</h3>
                <h3>Movies</h3>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>

  <section id="contact">
    <div class="wrapper">
      <div class="social">
        <h3>Get in touch</h3>
        <div>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fas fa-basketball-ball"></i></a>
          <a href="#"><i class="fab fa-whatsapp-square"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook-square"></i></a>
        </div>

      </div>
      <hr>
      <footer>
        <div class="copyright">
          <p class="copyright">© Copyright <span class="year"></span>|<a href="/">Creative Lite Studios</a>| Privacy</p>
          <p class="designed-by"><i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by O.J. Tabi</p>

        </div>
      </footer>

    </div>

  </section>




  <%- include('partials/footer') %>